.divWrapper {
    padding: 20px;
    margin-top: 20px;
}

.borderleft {
    border-left: 1.5px solid #dcdcdc;
}


@media (min-width: 768px) {
    .border-left {
        border-left: 1px solid #dcdcdc;
    }
}

  

